$line-height-base           = 1.5

$font-family-base = "PingFang SC", "Source Han Sans", "Roboto", sans-serif

$code-font-family = "Fira Code", "Source Code Pro", "Consolas", monospace

$font-size-base = 16px

$code-font-size = 13px

p {
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}
